body{
    background-color: black;
    color: white;
    margin: 0;
    font-size: larger;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* BEGIN NAV CSS*/

.nav{
    position: relative;
}

nav{
    position: sticky;
    width: 100%;
    background-color:rgba(54, 54, 54, 0.384);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#apple-logo:hover{
    transform: rotate(360deg);
    transition: 4s ease-out;
}

#apple-logo:not(:hover){
    transform: rotate(0deg);
    transition: 4s ease-out;
}

/* END NAV CSS*/

/* BEGIN FIRST BANNER*/

#first-banner{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

#image-first-banner{
    max-width: 80%;
    height: auto;
}

#imagecontainer-first-banner{
    width: 100%;
}
/* END FIRST BANNER*/

/* BEGIN SECOND BANNER*/

#second-banner{
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
    top: 0;
}

#second-banner h1{
    margin: 0;
    padding-top: 1.5em;
}

#image-second-banner{
    max-width: 80%;
    height: auto;
}

#imagecontainer-second-banner{
    width: 100%;
}
/* END SECOND BANNER*/

/* BEGIN THIRD BANNER*/

#third-banner{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.images-container{
    padding-top: 1.5em;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            500px,
            3fr
        )
    );
    gap: 1em;
    justify-content: center;
}


/* END THIRD BANNER*/

