body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont;
}

/* BEGIN NAV CSS*/

.nav{
    position: relative;
}

nav{
    position: sticky;
    width: 100%;
    background-color:rgba(54, 54, 54, 0.384);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 0.75em;
}

#apple-logo:hover{
    transform: rotate(360deg);
    transition: 4s ease-out;
}

#apple-logo:not(:hover){
    transform: rotate(0deg);
    transition: 4s ease-out;
}

/* END NAV CSS*/

